* {
    font-family: sans-serif;
}
#pageContent {
    display:flex;
    align-items: center;
    justify-content: center;
}

#header {
    text-align: center;
}

#gridContainer {
    display:flex;
    flex-direction: column;
    width:70vmin;
    height:70vmin;
    box-sizing: border-box;
    border:4px outset black;
    margin-top:50px;
}

#gridContainer .column {
    display:flex;
    flex:1;
}

#gridContainer .row {
    display:flex;
    flex:1;
    background-color: teal;
    border:1px dotted rgb(2, 100, 100);
    
}