* {
    font-family: sans-serif;
}

body {
    background-color: teal;
}

#pageContent {
    display:flex;
    align-items: center;
    justify-content: center;
}

#header {
    text-align: center;
    color:white;
}

#gridContainer {
    display:flex;
    flex-direction: column;
    width:70vmin;
    height:70vmin;
    box-sizing: border-box;
    border:4px outset rgb(12, 168, 168);
    margin-top:50px;
    border-radius:8px;
}

#gridContainer .column {
    display:flex;
    flex:1;
}

#gridContainer .row {
    display:flex;
    flex:1;
    background-color: teal;
    border:1px dotted rgb(2, 100, 100);
}

button {
    background-color: teal;
    color: white;
    font-weight: 600;
    padding:10px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
}

